*{
    margin: 0;
    padding: 0;                         /*zerar*/
    box-sizing: border-box;

}


body {
    background: #9B0A0A; /*Colocar imagem de fundo*/
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.logo-red {
    margin: 0px 0px 25px;
    display: flex;
    height: 750px;
}

.container {
    padding: 50px;
    background-color: #000000;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.buttons {
    margin: 90px 0;
    display: flex ;
    gap: 100px;
}

button {
    padding: 30px;
    font-size: 90px;
    cursor: pointer ;
    border: none;
    border-radius: 30px;
    transition: opacity 0.5s ease-in-out; /*Trasição de opacidade nos botões*/
}

button:hover {          /*Opacidade nos botões*/
    opacity: 0.7;  
}

#rock {
    
    background-color: #380655;
}

#paper {
    background-color: #5b8800;
}

#scissors {
    background-color: #015c9c;
}

p  {
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 65px;
}



/*Aplicações textos--------------------------------------*/

/*h1 {
    font-size: 100px;
    color: #ffffff;
}
*/
.your-score span {               /*Acesso para modificar o span*/
    color: rgb(136, 180, 255);
}
.your-score, .machine-score {
    font-size: 50px;
    color: #ffffff;
}

.machine-score span {               /*Acesso para modificar o span*/
    color: rgb(224, 71, 15);
}